---
title: Urban
---
<link href="https://fonts.googleapis.com/css?family=Poiret+One&display=swap" rel="stylesheet">

<section class="hero diagonal">
	<div class="container" style="display: flex;">
		<img src="{{ site.baseurl }}/images/pikachu.png" width="300">
        <div style="margin-left: 100px;">
        <h2 class="editable">We build websites</h2>
        <p class="subtext editable">This is the <strong>Urban</strong> template from <a href="https://cloudcannon.com/">CloudCannon</a>. Urban is a strong foundation for the web presence of your agency.</p>
		<p><a class="button alt" href="{{ site.baseurl }}/contact/">Contact Us</a></p>
        </div>
	</div>
</section>

<section class="diagonal patterned">
	<div class="container halves">
		<div>
			<h3 class="editable">Some of our work</h3>
			<p class="editable">We take pride in our previous work and our happy customers. We cater to any sector to boost business and increase exposure.</p>
			<p class="editable"><a href="{{ site.baseurl }}/portfolio/">View Full Portfolio &rarr;</a></p>
		</div>
		<div>
			<ul class="image-grid">
				{% for client in site.clients limit: 2 %}
					<li><a href="{{ site.baseurl }}{{ client.url }}"><img src="{% include relative-src.html src=client.image_path %}"></a></li>
				{% endfor %}
			</ul>
		</div>
	</div>
</section>

<section class="diagonal alternate" style="background: #da1731;">
	<div class="container halves">
		<div>
			<ul class="image-list">
				<li><img src="{{ site.baseurl }}/images/ball.png" width="300"></li>
			</ul>
		</div>
		<div>
			<h3 class="editable">My Skils</h3>
            <ul style="color: black; list-style:none; ">
            <div>
            <li>HTML/CSS</li>
            <li>php</li>
            </div>
            <div>
            <li>JavaScript</li>
            <li>Mysql</li>
            </div>
            <div>
            <li>Symfony</li>
            <li>Angular</li>
            </div>
            <li>Node.js</li>
            </ul>
			
		</div>
	</div>
</section>
